<nav class="anv navbar navbar-expand-sm bg-dark navbar-dark" style="z-index: 1;">
    <div class="container-fluid">
        <!-- Brand -->
        <a class="navbar-brand">基岩版純淨生存</a>
    
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Navbar links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">首頁</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="team.html">團隊介紹</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ann.html">最新公告</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="support.html">贊助我們</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="report.html">錯誤回報</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin.php">管理員工具</a>
                    </li> 
                </ul>
        </div>
    </div>
</nav>