<footer class="bg-dark text-center text-white footer">
    <div class="container pt-4">
        <section>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-facebook-f"></i>
            </a>
    
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-discord"></i>
            </a>
    
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">   
                <i class="fab fa-google"></i>
            </a>
    
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-instagram"></i>
            </a>
    
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-github"></i>
            </a>
            <div class="text-center p-3">
                輝夜伺服器 © 2021. 版權所有
            </div>
        </section>
    </div>
</footer>